{{!--
@param {string} imageURL The url of the image to display.
@param {string} name The display name of this truck.
@param {boolean} pickup True if the pickup button should show.
@param {string} pickupDate A formatted string detailing the expected pickup date.
@param {string} dropoffDate A formatted string detailing the expected dropoff date.
@param {number} totalCost The cost in dollars for this rent. (taking into account expected time )
@param {number} pricePerMile The cost in dollars per miles driven.

--}}

<section class="truck-status">
	<header>
		<img src="{{imageURL}}" alt="Picture of the truck.">
	</header>
	<main>
		<p>{{name}}</p>
		<p>Pickup: {{pickupDate}}</p>
		<p>Dropoff: {{dropoffDate}}</p>
		<p>Total cost: ${{totalCost}}</p>
		<p>Plus ${{pricePerMile}} per mile</p>
	</main>
	<footer>
		{{#if pickup}}
		<button class="green-button">Pick up</button>
		{{else}}
		<button class="yellow-button">Return</button>
		{{/if}}
		
		<button>Cancel</button>
	</footer>
</section>